# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/Test.jsx
build/asset-manifest.json
build/build.zip
build/favicon.ico
build/index.html
build/static/css/main.4da62354.css
build/static/css/main.4da62354.css.map
build/static/js/main.e1dff951.js
build/static/js/main.e1dff951.js.LICENSE.txt
build/static/js/main.e1dff951.js.map
build/build.rar
build/static/js/main.b9ba039f.js
build/static/js/main.b9ba039f.js.LICENSE.txt
build/static/js/main.b9ba039f.js.map
